<!doctype html>
<html lang='en'>
<head>
	<title>Express 3‐Handlebars examples</title>
	<style type="text/css">
		body {
			max-width: 500px; margin: 24px auto; text-align: justify;
			-webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
		}
	</style>
</head>
<body>
	<h1>Express 3‐Handlebars examples</h1>
	<p>These are the Express 3‐Handlebars versions of the examples from Tally, the simple, unobtrusive, design‐led JavaScript template engine for Node and clients to demonstrate the difference in template designs and its effects on workflow.</p>

	<ul>
		<li><a href='/simple'>Simple example</a> (<a href='/simple.html'>template</a>)</li>
		<li><a href='/posts'>App.net global timeline example</a> (<a href='/posts.html'>template</a>)</li>
		<li><a href='/profile'>App.net global timeline example (with profiling)</a></li>
	</ul>
</body>
</html>